InquiryService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://services.ws.inquiry.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSInquiryService" targetNamespace="http://services.ws.inquiry.ru/">
  <!--
  EZAGS-149:
  changes:
    [+] sendAnswerExistenceofRecordmethod and it's arguments
  date: 07.09.2011
  author: Svyatoslav Gulin

  -->
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.ezags.ru/types/" schemaLocation="types.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://services.ws.inquiry.ru/" schemaLocation="InquiryService.xsd"/>
    </xsd:schema>
  </types>
  <message name="putInquiryAboutPerson">
    <part element="tns:putInquiryAboutPerson" name="parameters"/>
  </message>
  <message name="putInquiryAboutPersonResponse">
    <part element="tns:putInquiryAboutPersonResponse" name="parameters"/>
  </message>
  <message name="getAnswerAboutPerson">
    <part element="tns:getAnswerAboutPerson" name="parameters"/>
  </message>
  <message name="getAnswerAboutPersonResponse">
    <part element="tns:getAnswerAboutPersonResponse" name="parameters"/>
  </message>
  <message name="getPerformanceStateInquiry">
    <part element="tns:getPerformanceStateInquiry" name="parameters"/>
  </message>
  <message name="putInquiryExistenceOfRecord">
    <part element="tns:putInquiryExistenceOfRecord" name="parameters"/>
  </message>
  <message name="putInquiryExistenceOfRecordResponse">
    <part element="tns:putInquiryExistenceOfRecordResponse" name="parameters"/>
  </message>
  <message name="sendAnswerExistenceofRecord">
    <part element="tns:sendAnswerExistenceofRecord" name="parameters"/>
  </message>
  <message name="sendAnswerExistenceofRecordResponse">
    <part element="tns:sendAnswerExistenceofRecordResponse" name="parameters"/>
  </message>

  <message name="getPerformanceStateInquiryResponse">
    <part element="tns:getPerformanceStateInquiryResponse" name="parameters"/>
  </message>

  <portType name="InquiryService">
    <operation name="putInquiryAboutPerson">
      <input message="tns:putInquiryAboutPerson"/>
      <output message="tns:putInquiryAboutPersonResponse"/>
    </operation>
    <operation name="getAnswerAboutPerson">
      <input message="tns:getAnswerAboutPerson"/>
      <output message="tns:getAnswerAboutPersonResponse"/>
    </operation>
    <operation name="getPerformanceStateInquiry">
      <input message="tns:getPerformanceStateInquiry"/>
      <output message="tns:getPerformanceStateInquiryResponse"/>
    </operation>
    <operation name="putInquiryExistenceOfRecord">
      <input message="tns:putInquiryExistenceOfRecord"/>
      <output message="tns:putInquiryExistenceOfRecordResponse"/>
    </operation>
    <operation name="sendAnswerExistenceofRecord">
      <input message="tns:sendAnswerExistenceofRecord"/>
    </operation>
  </portType>
  <binding name="InquiryServiceImplPortBinding" type="tns:InquiryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="putInquiryAboutPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAnswerAboutPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPerformanceStateInquiry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="putInquiryExistenceOfRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendAnswerExistenceofRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InquiryService">
    <port binding="tns:InquiryServiceImplPortBinding" name="InquiryServiceImplPort">
      <soap:address location="http://localhost:10080/InquiryService"/>
    </port>
  </service>
</definitions>
